* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Inter sans-serif;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
}

/*--------------------------------------------------------------*/
/* Padding & Margin */
/*--------------------------------------------------------------*/

.p-0{
    padding: 0;
}
.m-0{
    margin: 0;
}
/* Padding Top */

.pt-10 { padding-top: 10px; }
.pt-20 { padding-top: 20px; }
.pt-30 { padding-top: 30px; }
.pt-40 { padding-top: 40px; }
.pt-50 { padding-top: 50px; }
.pt-60 { padding-top: 60px; }
.pt-70 { padding-top: 70px; }
.pt-80 { padding-top: 80px; }
.pt-90 { padding-top: 90px; }
.pt-100 { padding-top: 100px; }
.pt-200 { padding-top: 200px; }

/* Padding Bottom */
.pb-10 { padding-bottom: 10px; }
.pb-20 { padding-bottom: 20px; }
.pb-30 { padding-bottom: 30px; }
.pb-40 { padding-bottom: 40px; }
.pb-50 { padding-bottom: 50px; }
.pb-60 { padding-bottom: 60px; }
.pb-70 { padding-bottom: 70px; }
.pb-80 { padding-bottom: 80px; }
.pb-90 { padding-bottom: 90px; }
.pb-100 { padding-bottom: 100px; }
.pb-200 { padding-bottom: 200px; }

/* Padding Left */
.pl-0 { padding-left: 0; }
.pl-10 { padding-left: 10px; }
.pl-20 { padding-left: 20px; }
.pl-30 { padding-left: 30px; }
.pl-40 { padding-left: 40px; }
.pl-50 { padding-left: 50px; }
.pl-60 { padding-left: 60px; }
.pl-70 { padding-left: 70px; }
.pl-80 { padding-left: 80px; }
.pl-90 { padding-left: 90px; }
.pl-100 { padding-left: 100px; }

/* Padding Right */
.pr-0 { padding-right: 0; }
.pr-10 { padding-right: 10px; }
.pr-20 { padding-right: 20px; }
.pr-30 { padding-right: 30px; }
.pr-40 { padding-right: 40px; }
.pr-50 { padding-right: 50px; }
.pr-60 { padding-right: 60px; }
.pr-70 { padding-right: 70px; }
.pr-80 { padding-right: 80px; }
.pr-90 { padding-right: 90px; }
.pr-100 { padding-right: 100px; }

/* Margin Top */
.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }
.mt-40 { margin-top: 40px; }
.mt-50 { margin-top: 50px; }
.mt-60 { margin-top: 60px; }
.mt-70 { margin-top: 70px; }
.mt-80 { margin-top: 80px; }
.mt-90 { margin-top: 90px; }
.mt-100 { margin-top: 100px; }

/* Margin Bottom */
.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; }
.mb-50 { margin-bottom: 50px; }
.mb-60 { margin-bottom: 60px; }
.mb-70 { margin-bottom: 70px; }
.mb-80 { margin-bottom: 80px; }
.mb-90 { margin-bottom: 90px; }
.mb-100 { margin-bottom: 100px; }

/* Margin Left */
.ml-0 { margin-left: 0; }
.ml-10 { margin-left: 10px; }
.ml-20 { margin-left: 20px; }
.ml-30 { margin-left: 30px; }
.ml-40 { margin-left: 40px; }
.ml-50 { margin-left: 50px; }
.ml-60 { margin-left: 60px; }
.ml-70 { margin-left: 70px; }
.ml-80 { margin-left: 80px; }
.ml-90 { margin-left: 90px; }
.ml-100 { margin-left: 100px; }

/* Margin Right */
.mr-0 { margin-right: 0; }
.mr-10 { margin-right: 10px; }
.mr-20 { margin-right: 20px; }
.mr-30 { margin-right: 30px; }
.mr-40 { margin-right: 40px; }
.mr-50 { margin-right: 50px; }
.mr-60 { margin-right: 60px; }
.mr-70 { margin-right: 70px; }
.mr-80 { margin-right: 80px; }
.mr-90 { margin-right: 90px; }
.mr-100 { margin-right: 100px; }




/*--------------------------------------------------------------*/
/* SCROLL TO TOP */
/*--------------------------------------------------------------*/

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0DB760;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    display: none;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    text-align: center;
}



/*--------------------------------------------------------------*/
/* NAVBAR TOGGLE */
/*--------------------------------------------------------------*/

.navbar-toggle.active span:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: top left;
}

.navbar-toggle.active span:nth-child(2) {
    opacity: 0;
}

.navbar-toggle.active span:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: bottom left;
}


/*--------------------------------------------------------------*/
/* NAVBAR */
/*--------------------------------------------------------------*/

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 34px 0 0 0;
}

.navbar-balloon {
    position: absolute;
    z-index: -1;
}

.show-toggle {
    display: none;
}

.navbar-left {
    display: ruby;
}

.navbar-left span {
    font-size: 50px;
}

.navbar-left a {
    font-size: 30px;
    color: #0DB760;
    text-decoration: none;
    letter-spacing: 1px;
}


.navbar-center ul {
    list-style: none;
    display: flex;
    gap: 36px;
    padding: 14px 0 0 0;
}

.navbar-center ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #222;
    font-weight: bold;
}


.navbar-right .btn {
    font-size: 20px;
    padding: 15px 20px;
    background-color: #fff;
    color: black;
    text-decoration: none;
    border-radius: 12px;
    border: 3px solid #0DB760;
    font-weight: bold;
    transition: all 0.3s ease ;
}


/*--------------------------------------------------------------*/
/* HEADER */
/*--------------------------------------------------------------*/

.header-section {
    display: flex;
    align-items: center;
    padding: 80px;
    flex-wrap: wrap;
    position: relative;
}

.text-content {
    word-wrap: break-word;
}

.text-content h4 {
    color: #0DB760;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 24px;
}

.text-content h1 {
    font-size: 58px;
    margin-bottom: 10px;
    line-height: 70px;
}

.text-content h2 {
    font-size: 58px;
    margin-bottom: 20px;
    line-height: 70px;
}

.text-content p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    color: #323433;
}

.text-color {
    color: #0DB760;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;

}

.contact-btn {
    padding: 15px 25px;
    background-color: #0DB760;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.contact-btn:hover {
    background-color: #0AA350;
    color: white;
}

.view-portfolio {
    display: inline-block;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.view-portfolio i {
    margin-left: 10px;
    font-size: 14px;
}

.welcome-container {
    display: inline-block;
    padding: 10px 12px;
    border: 1px solid #0DB760;
    border-radius: 50%;
    position: relative;
    background-color: transparent;
}

.welcome-text {
    font-size: 18px;
    color: #333;
    margin: 0;
    text-transform: uppercase;
}

.image-content {
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-box {
    background-color: #00b894;
    width: 440px;
    height: 440px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
}

.border-box {
    border: 5px solid #333;
    width: 440px;
    height: 440px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 0;
}

.image-wrapper {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    margin: 22px;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.social-icons {
    margin-left: auto;
    text-align: right;
    padding-left: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 0;
}

.social-icons p {
    font-size: 20px;
    line-height: 16px;
    margin: 0;
    writing-mode: vertical-rl;
    transform: rotate(360deg);
    color: #00b894;
}

.social-icons hr {
    width: 2px;
    height: 100px;
    background-color: #00b894;
    border: none;
    margin: 14px 8px;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 8px 0 0 0;
}

.icons a {
    color: #00b894;
    font-size: 20px;
}

.icons a:hover {
    color: #0DB760;
}


/*--------------------------------------------------------------*/
/* ABOUT */
/*--------------------------------------------------------------*/


.about-section .col-md-4 {
    opacity: 0;
    transform: translateY(50px);
}

.about-section {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.left-content h1 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    font-weight: bold;
    color: #0DB760;
}

.left-content p {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    padding: 10px;
    color: #000000;
}

.middle-content h1 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    font-weight: bold;
    color: #0DB760;
}

.middle-content p {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    padding: 10px;
    color: #000000;
}

.right-content h1 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    font-weight: bold;
    color: #0DB760;
}

.right-content p {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    padding: 10px;
    color: #000000;
}

.position-relative {
    position: relative;
}

.vertical-line {
    position: absolute;
    right: 0;
    top: 0;
    height: 100px;
    width: 2px;
    background-color: #0DB760;
    border: none;
}


.dot  {
    justify-items: end;
    display: grid;
}



/*--------------------------------------------------------------*/
/* MY SKILLS */
/*--------------------------------------------------------------*/



.skills-title {
    display: inline-block;
    padding: 10px 12px;
    border: 1px solid #0DB760;
    border-radius: 50%;
    position: relative;
    background-color: transparent;
    color: #0DB760;
    font-size: 20px;
    line-height: 24px;
}

.why-hire {
    font-size: 32px;
    line-height: 8px;
    font-weight: bold;
    padding: 28px 0 24px 0;
}

.skill-left p {
    color: #323433;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.hire-me-btn {
    display: inline-block;
    padding: 15px 25px;
    background-color: #0DB760;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.hire-me-btn:hover {
    background-color: #0AA350;
    color: white;
}


.left-skill-box {
    padding: 20px;
    border-radius: 10px;
    width: 46%;
    height: auto;

    align-self: flex-start;
}

.left-skill-box i {
    color: #0DB760;
    padding: 10px 0 10px 5px;
}

.left-skill-box h4 {
    font-family: "Poppins", sans-serif;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.left-skill-box p {
    color: #323433;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


.skill-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}


.right-skill-box {
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    height: auto;
    align-self: flex-end;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.right-skill-box i {
    color: #0DB760;
    padding: 10px 0 10px 5px;
}

.right-skill-box h4 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.right-skill-box p {
    font-size: 14px;
    line-height: 24px;
    color: #323433;
}


.bottom-left-skill-box {
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    height: auto;
}

.bottom-left-skill-box i {
    color: #0DB760;
    padding: 10px 0 10px 5px;
}

.bottom-left-skill-box h4 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.bottom-left-skill-box p {
    font-size: 14px;
    line-height: 24px;
    color: #323433;
}

.decoration {
    position: relative;
}

.left-img {
    position: absolute;
    left: 0;
    transform: translateY(-50%);
}

.left-img img {
    max-width: 100%;
    height: auto;
}

.right-img {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
}

.right-img img {
    max-width: 100%;
    height: auto;
}


/*--------------------------------------------------------------*/
/* PORTFOLİO */
/*--------------------------------------------------------------*/

.portfolio-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-Content {
    text-align: left;
    padding: 20px;
}

.portfolio-title {
    display: inline-block;
    padding: 10px 12px;
    border: 1px solid #0DB760;
    border-radius: 50%;
    background-color: transparent;
    color: #0DB760;
    font-size: 24px;
    line-height: 24px;
}

.portfolio-left h4 {
    font-size: 32px;
    padding: 16px 0 10px 0;
    line-height: 8px;
    font-weight: bold;
    height: auto;
}

.portfolio-left h5 {
    font-size: 32px;
    line-height: 8px;
    font-weight: bold;
    height: auto;
}

.portfolio-left p {
    color: #323433;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 420px;
    padding: 12px 0 12px 0;
    height: auto;
}

.show-more-portfolio {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    gap: 10px;
}

.show-more-portfolio i {
    font-size: 16px;
}

.portfolio-right {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
}

.splide {
    width: 100%;
}

.splide__track {
    overflow: hidden;
}

.splide__list {
    display: flex;
    gap: 5px;
    padding: 0;
    margin: 0;
}


.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.3s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 12px;
}

.image-container:hover .overlay {
    opacity: 1;
    border-radius: 12px;
}

.text {
    font-size: 20px;
    margin-bottom: 10px;
    height: auto;
    max-width: 420px;
}

.icon-Content{
    display: flex;
    align-items: center;
}

.github-icon, .world-icon {
    color: white;
    font-size: 32px;
    text-decoration: none;
}

.github-icon {
    margin-right: 10px;
}

.splide__arrows {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px;
    gap: 16px;
}

.splide__arrow--left, .splide__arrow--right {
    background-color: #0DB760;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.splide__arrow--left:hover, .splide__arrow--right:hover {
    background-color: #0AA350;
}

.splide__arrow--left i, .splide__arrow--right i {
    color: white;
    font-size: 16px;
}

.contact-dot-img {
    padding: 32px 0 0 0;
}


/*--------------------------------------------------------------*/
/* CONTACT */
/*--------------------------------------------------------------*/


.contact-title {
    display: inline-block;
    padding: 10px 12px;
    border: 1px solid #0DB760;
    border-radius: 50%;
    background-color: transparent;
    color: #0DB760;
    font-size: 24px;
    line-height: 24px;
}

.contact-content h2 {
    color: #0B0C0C;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    height: auto;
}

.contact-content p {
    display: inline-block;
    height: auto;
    color: #323433;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 800px;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.icon-container {
    color: white;
    background-color: #0DB760;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 56px;
    height: 56px;
    flex-shrink: 0;
}

.contact-label {
    color: #92929D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.128px;
    margin-bottom: 16px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #0DB760;
}

.contact-number a {
    color: #11142D;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.08px;
    text-decoration: none;
}

.contact-email a {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.08px;
    text-decoration: none;
    color: #11142D;
}

.contact-address a {
    color: #11142D;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.08px;
    text-decoration: none;
}

.contact-text {
    padding: 0 0 0 8px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    width: 100%;
}

.form-group input,
textarea {
    width: 100%;
    border-radius: 8px;
    border: 0.3px solid #0DB760;
    background: #FFF;
    padding: 14px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.textarea-container {
    display: flex;
    flex-direction: column;
}

.btn-submit {
    background-color: #0DB760;
    color: white;
    border: none;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-end;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: #0AA350;
}


/*--------------------------------------------------------------*/
/* FOOTER */
/*--------------------------------------------------------------*/


.footer-hr {
    margin: 20px 0;
    border: 1px solid #222222;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.left, .center, .right {
    flex: 1;
}

.left {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.left p {
    display: contents;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.center {
    text-align: center;
}

.center p {
    display: contents;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right a {
    margin-left: 15px;
    color: #fff;
    font-size: 16px;
    background-color: #0DB760;
    padding: 12px;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /
    height: 40px;
}

.right a:hover {
    background-color: #0AA350;
}




/*--------------------------------------------------------------*/
/* RESPONSİVE */
/*--------------------------------------------------------------*/

@media (min-width: 1201px) and (max-width: 1399px) {

    .text-content h1 {
        font-size: 52px;
        line-height: 58px;
    }

        .text-content h2 {
        font-size: 52px;
    }

    .navbar {
        padding: 34px 0 0 52px;
    }
}


@media (max-width: 1200px) {
    .text-content h1 {
        font-size: 42px;
        line-height: 52px;
    }

    .text-content h2 {
        font-size: 42px;
        line-height: 52px;
    }

    .green-box,
    .border-box {
        width: 60vw;
        height: 60vw;
        max-width: 376px;
        max-height: 376px;
    }

    .image-wrapper {
        width: 89%;
        height: 89%;
    }

    .left-skill-box,
    .right-skill-box,
    .bottom-left-skill-box {
        width: 50%;
    }

    .portfolio-left h4 {
        font-size: 28px;
    }

    .image-container img {
        height: 60vh;
    }

    .splide__list {
        gap: 10px;
    }

    .splide {
        padding: 0 20px;
    }

    .portfolio-right {
        padding-left: 0;
    }

    .text {
        font-size: 16px;
        text-align: center;
    }

    .navbar {
        padding: 34px 0 0 52px;
    }
}

@media (max-width: 992px) {
    .navbar-left,
    .navbar-right {
        display: none;
    }

    .navbar-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        z-index: 1010;
    }

    .navbar-toggle span {
        display: block;
        height: 4px;
        width: 25px;
        background-color: #0DB760;
        margin: 3px 0;
    }

    .navbar {
        position: relative;
        z-index: 1000;
        justify-content: end;
        align-items: flex-end;
    }

    .navbar-center {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 250px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        padding: 20px;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .navbar-center.show {
        left: 0;
    }

    .navbar-center.show-toggle {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
        align-items: start;
        padding-top: 40px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    }

    .toggle-a {
        text-decoration: none !important;
    }

    .navbar-links {
        list-style: none;
        padding: 0;
        width: 100%;
        display: flow !important;
    }

    .navbar-links li {
        margin: 20px 0;
        width: 100%;
    }

    .navbar-links li a {
        text-decoration: none;
        font-size: 20px;
        color: #222;
        font-weight: bold;
        width: 100%;
        display: block;
    }

    .navbar-center a h3 {
        font-size: 25px;
        margin-bottom: 20px;
        text-decoration: none;
        color: #0DB760;
    }

    .navbar-center a span {
        font-size: 40px;
        color: #0DB760;
    }


    .navbar-center .btn {
        font-size: 20px;
        padding: 15px 20px;
        background-color: #fff;
        color: black;
        text-decoration: none;
        border-radius: 12px;
        border: 3px solid #0DB760;
        font-weight: bold;
        transition: all 0.3s ease;
        align-self: flex-start;
    }

    .navbar-social-icon {
        display: flex;
        justify-content: space-around;
        margin-top: auto;
        width: 100%;
        padding: 20px 0;
    }

    .navbar-social-icon a {
        color: #0DB760;
        font-size: 24px;
        text-decoration: none;
    }

    .navbar-social-icon a:hover {
        color: #222; /
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .navbar-left,
    .navbar-right {
        display: none;
    }

    .navbar-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        z-index: 1010;
        margin: 10px;
    }

    .navbar-toggle span {
        display: block;
        height: 4px;
        width: 30px;
        background-color: #0DB760;
        margin: 3px 0;
    }

    .navbar {
        position: relative;
        z-index: 1000;
        justify-content: end;
        align-items: flex-start;
    }

    .navbar-center {
        position: fixed;
        top: 20px;
        left: -100%;
        height: calc(100% - 20px);
        width: 300px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        padding: 30px;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .navbar-center.show {
        left: 0;
    }

    .navbar-links {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        margin: 18px 0;
        width: 100%;
    }

    .navbar-links li a {
        font-size: 18px;
        font-weight: bold;
        width: 100%;
        display: block;
        padding: 10px;
        transition: background-color 0.3s;
    }

    .navbar-links li a:hover {
        background-color: #f0f0f0;
    }

    .navbar-center a h3 {
        font-size: 22px;
        margin-bottom: 20px;
        color: #0DB760;
    }

    .navbar-center a span {
        font-size: 36px;
        color: #0DB760;
    }

    .navbar-center .btn {
        font-size: 18px;
        padding: 12px 15px;
        border-radius: 10px;
        border: 3px solid #0DB760;
        margin-top: 15px;
    }

    .navbar-social-icon {
        justify-content: center;
        padding: 15px 0;
    }

    .navbar-social-icon a {
        font-size: 24px;
        margin: 0 10px;
    }

    .header-section {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .text-content {
        order: 2;
        width: 100%;
        padding: 24px 0 0 0;
    }

    .d-flex {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 18px 0 0 0;
    }

    .image-content {
        order: 1;
        width: 50%;
    }

    .social-icons {
        position: absolute;
        order: 2;
        width: 50%;
        margin-top: 20px;
    }

    .image-content {
        width: 100%;
    }

    .d-flex {
        flex-direction: column;
    }

    .skill-left {
        width: 100%;
    }

    .right-content p {
        font-size: 22px;
    }

    .middle-content p {
        font-size: 22px;
    }

    .left-content p {
        font-size: 22px;
    }

    .portfolio-right {
        width: 50%;
    }

    .portfolio-left {
        width: 50%;
    }

    .row.mt-4 {
        display: flex;
        flex-direction: column;
    }


    .contact-info {
        padding: 0;
        display: ruby;
        order: 1;
        margin-bottom: 20px;
        width: 100%;
    }

    .contact-info .contact-item {
        margin-bottom: 15px;

    }

    .contact-item {
        padding: 0 24px 0 8px;
    }

    .contact-right {
        order: 2;
        width: 100%;
        padding: 0 26px 0 0;
    }

    .contact-label {
        margin-bottom: 8px;
    }

    .icon-container {
        width: 45px;
        height: 45px;
    }

    .contact-text {
        padding: 0;
    }
    
}

@media (min-width: 575px) and (max-width: 767px) {

    .navbar-left,
    .navbar-right {
        display: none;
    }

    .navbar-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        z-index: 1010;
        margin: 8px;
    }

    .navbar-toggle span {
        display: block;
        height: 4px;
        width: 28px;
        background-color: #0DB760;
        margin: 2px 0;
    }

    .navbar {
        position: relative;
        z-index: 1000;
        justify-content: end;
        align-items: flex-start;
    }

    .navbar-center {
        position: fixed;
        top: 10px;
        left: -100%;
        height: calc(100% - 10px);
        width: 250px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        padding: 20px;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .navbar-center.show {
        left: 0;
    }

    .navbar-links {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        margin: 12px 0;
        width: 100%;
    }

    .navbar-links li a {
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        display: block;
        padding: 8px;
        transition: background-color 0.3s;
    }

    .navbar-links li a:hover {
        background-color: #f0f0f0;
    }

    .navbar-center a h3 {
        font-size: 20px;
        margin-bottom: 15px;
        color: #0DB760;
    }

    .navbar-center a span {
        font-size: 30px;
        color: #0DB760;
    }

    .navbar-center .btn {
        font-size: 16px;
        padding: 10px 12px;
        border-radius: 8px;
        border: 3px solid #0DB760;
        margin-top: 10px;
    }

    .navbar-social-icon {
        justify-content: center;
        padding: 10px 0;
    }

    .navbar-social-icon a {
        font-size: 20px;
        margin: 0 8px;
    }

    .text-content h2 {
        font-size: 34px;
        line-height: 46px;
    }


    .header-section {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .text-content {
        order: 2;
        width: 100%;
        padding: 24px 0 0 28px;
    }

    .d-flex {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 18px 0 0 0;
    }

    .image-content {
        order: 1;
        width: 50%;
    }

    .social-icons {
        position: absolute;
        order: 2;
        width: 50%;
        margin-top: 20px;
    }

    .image-content {
        width: 100%;
    }

    .d-flex {
        flex-direction: column;
    }

    .image-wrapper {
        width: 88%;
        height: 88%;
    }

    .green-box, .border-box {
        max-width: 350px;
        max-height: 350px;
    }

    .skill-left {
        padding: 0 0 0 18px;
    }

    .about-section .left-content .vertical-line,
    .about-section .middle-content .vertical-line {
        position: static;
        display: block;
        margin: 10px auto;
        border: 1px solid #000;
        transform: rotate(90deg);
    }

    .portfolio-left {
        width: 100%;
    }

    .portfolio-right {
        width: 100%;
        padding: 0;
    }

    .image-container img {
        object-fit: cover;
    }

    .contact-info {
        padding: 0 0 0 32px;
    }

    .contact-right {
        padding: 0 32px 0 32px;
    }

    .contact-form .form-group {
        margin-bottom: 16px;
    }

    .contact-form .textarea-container {
        margin-bottom: 24px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-content .left,
    .footer-content .center,
    .footer-content .right {
        margin-bottom: 15px;
    }

    .footer-content .right a {
        margin: 0 10px;
    }

    .navbar-balloon {
        width: 50%;
    }

}


@media (min-width: 320px) and (max-width: 574px) {

    .navbar-center {
        top: 0; /* Üstten yapışmasını sağlar */
        left: -100%; /* Menü kapalıyken görünmemesini sağlar */
        height: auto; /* Yükseklik otomatik ayarlanır */
        overflow: hidden; /* Taşmayı önler */
    }

    .navbar-center.show {
        left: 0; /* Menü açıldığında görünür */
        height: 100vh; /* Tam ekran yüksekliği alır */
        overflow-y: auto; /* Yüksekliği aşan içerikler kaydırılır */
    }

    .navbar-social-icon {
        margin-top: auto; /* İkonları altta tutar */
        padding: 20px 0; /* İkonlar arasında yeterli boşluk */
    }

    .navbar {
        padding: 24px 24px 0 0;
    }

    .section-header {
        padding-bottom: 0;
        padding-top: 0;
    }

    .navbar-balloon {
        width: 35%;
    }

    .text-content h2 {
        font-size: 20px;
        line-height: 8px;
        margin-bottom: 0;
    }

    .text-content h1 {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 0;
        padding: 12px 0 0 0;
    }

    .text-content p {
        font-size: 12px;
        line-height: 18px;
    }

    .header-section {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .text-content {
        order: 2;
        width: 100%;
        padding: 24px 0 0 28px;
    }

    .d-flex {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 18px 0 0 0;
    }

    .image-content {
        order: 1;
        width: 50%;
    }

    .social-icons {
        position: absolute;
        order: 2;
        width: 50%;
        margin-top: 20px;
    }

    .image-content {
        width: 100%;
    }

    .d-flex {
        flex-direction: column;
    }

    .image-wrapper {
        width: 78%;
        height: 78%;
    }

    .green-box, .border-box {
        max-width: 190px;
        max-height: 190px;
    }

    .welcome-text {
        font-size: 8px;
    }

    .welcome-container {
        padding: 8px 8px ;
    }

    .social-icons {
        padding: 0 28px 0 0;
    }

    .contact-btn {
        padding: 4px 16px;
        font-size: 12px;
    }

    .view-portfolio{
        display: flex;
        font-size: 12px;
    }

    .about-section .left-content .vertical-line,
    .about-section .middle-content .vertical-line {
        position: static;
        display: block;
        margin: 10px auto;
        border: 1px solid #000;
        transform: rotate(90deg);
    }

    .about-section {
        padding: 80px 0 0 42px
    }

    .scroll-to-top {
        right: 100px;
    }

    .why-hire {
        font-size: 22px;
    }

    .hire-me-btn {
        padding: 10px 22px;
        font-size: 12px;
    }

    .left-skill-box h4,
    .right-skill-box h4,
    .bottom-left-skill-box h4 {
        font-size: 14px;
    }

    .right-skill-box p,
    .bottom-left-skill-box p {
        font-size: 12px;
        line-height: 20px;
    }

    .left-skill-box p {
        font-size: 12px;
    }

    .left-content h1,
    .middle-content h1,
    .right-content h1 {
        font-size: 28px;
        line-height: 18px;
        margin: 0;
    }

    .left-content p,
    .middle-content p,
    .right-content p {
        font-size: 18px;
        margin: 0;

    }

    .portfolio-left h4,
    .portfolio-left h5 {
        font-size: 18px;
        margin: 0;
    }

    .portfolio-left p {
        font-size: 12px;
        margin: 0;
    }

    .show-more-portfolio {
        font-size: 12px;
    }

    .splide__arrow--left, .splide__arrow--right {
        padding: 8px;
    }

    .splide__arrow--left i, .splide__arrow--right i {
        font-size: 12px;
    }

    .icon-container {
        width: 45px;
        height: 45px;
    }

    .contact-label {
        margin-bottom: 8px;
    }

    .contact-info {
        padding: 0 0 0 32px;
    }

    .contact-right {
        padding: 0 32px 0 32px;
    }

    .contact-form .form-group {
        margin-bottom: 12px;
    }

    .contact-form .textarea-container {
        margin-bottom: 18px;
    }

    .form-group input, textarea {
        padding: 8px;
    }

    .btn-submit {
        padding: 12px 12px;
        font-size: 12px;
        line-height: 125%;
    }

    .footer-content {
        flex-direction: column; /* Dikey hizalama için */
        align-items: center; /* Ortada hizalama */
        text-align: center;
    }

    .footer-content .left,
    .footer-content .center,
    .footer-content .right {
        margin-bottom: 10px; /* Alt alta gelirken aralıkları ayarla */
    }

    .footer-content .right a {
        margin: 5px; /* İkonlar arasındaki boşlukları küçült */
    }

    .dot img {
        height: 75px;
    }

    .left-img img {
        height: 75px;
    }

    .right-img img {
        height: 75px;
    }

    .skills-section {
        padding: 0 0 0 32px;
    }

    .image-container {
        position: relative;
        width: 80%;
    }

    .splide__slide {
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .portfolio-last {
        padding-bottom: 50px;
        padding-top: 50px;
    }
}


/*--------------------------------------------------------------*/
/* RESPONSİVE END */
/*--------------------------------------------------------------*/








